.list-none {
  list-style: none;
}

.site-header {
  background-color: #fff;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;

}

.main-link {
  background: #FF7500;
  font-weight: 700;
  font-size: 13px;
  line-height: 15 px;
  letter-spacing: 0.5 px;
  color: #fff;
  text-decoration: none;
}

.hero-content {
  width: 390px;
  color: #fff;
}

.hero-section {
  background-color: #252420;

}

.orange-line {
  background-color: #FF7500;
  with: 80px;
  height: 3px;

}

.hero-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.5px;

}

.hero--text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.future-title {
  font-size: 72px;
  font-weight: 700;
  line-height: 86.4px;
  letter-spacing: 0.5px;
}

.feature-item {
  width: 340px;
  color: #000;
}

.feature-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.sale{
  background-color: #252420;
  color: #fff;
}
.sale-content{
  width: 440px;
}
.sale-title{
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.5px;
}
.sale-text{
  
  
}
.site-footer{
background-color: #f8f8f8;
}
.site-footer-divider{
  background-color: #25242080;
  height: 2px;
}
.footer-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #252420;
  text-decoration: none;
}
